__pycache__/

keys/

.idea/

docs/docs/_build
docs/docs/_static
docs/venv/

build/conf/project-info.json

.terraform/
terraform.tfstate
terraform.tfstate.backup

infrastructure/cluster-networking/.terraform/
infrastructure/cluster-networking/terraform.tfstate
infrastructure/cluster-networking/terraform.tfstate.backup

infrastructure/cluster-nodes/.terraform/
infrastructure/cluster-nodes/terraform.tfstate
infrastructure/cluster-nodes/terraform.tfstate.backup

build/scripts/tls-certs/.terraform
build/scripts/tls-certs/terraform.tfstate
build/scripts/tls-certs/terraform.tfstate.backup
