[Unit]
Description="Consul watcher for event: traefik-routes-updated"
Requires=network-online.target
After=network-online.target
StartLimitInterval=180
StartLimitBurst=18

[Service]
Type=simple
User=root
Group=root
Environment=SYSTEMD_LOG_LEVEL=debug
Environment=CONSUL_HTTP_TOKEN=none
ExecStart=/usr/local/bin/consul watch -type event /scripts/services/traefik/routes_changed.sh
KillMode=process
Restart=always
RestartSec=4
LimitNOFILE=8192

[Install]
WantedBy=multi-user.target